<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>&copy; 2015-{{ site.time | date: '%Y' }} <a href="/">{{ site.author.name }}</a></p>
      <p><small>アジャイルラジオは、<a href="https://scrumdo-kansai.connpass.com/">スクラム道関西</a>の協力でお送りしています。</small></p>
      <p>
        <a href="https://x.com/{{ site.author.twitter }}">
          <span class="icon"><i class="fab fa-x-twitter"></i></span>
        </a>
        <a href="https://facebook.com/{{ site.author.facebook }}">
          <span class="icon"><i class="fab fa-facebook"></i></span>
        </a>
        <a href="https://youtube.com/@agileradio" title="YouTube">
          <span class="icon"><i class="fab fa-youtube"></i></span>
        </a>
        <a href="https://podcasts.apple.com/jp/podcast/id1057431440" title="Apple Podcast">
          <span class="icon"><i class="fas fa-podcast"></i></span>
        </a>
        <a href="https://open.spotify.com/show/6znhwyVZ9zWtK4tgTLJcot" title="Spotify">
          <span class="icon"><i class="fab fa-spotify"></i></span>
        </a>
        <a href="/feed.xml">
          <span class="icon"><i class="fas fa-rss"></i></span>
        </a>
      </p>
    </div>
  </div>
</footer>
