---
layout: default
---
<article>
  <section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        {% if page.episode %}
          <p>Episode {{ page.episode }}</p>
        {% endif %}
        <h1 class="title is-spaced">
          {{ page.title }}
        </h1>
        <small><time datetime="{{ page.date | date: '%Y-%m-%d' }}">{{ page.date | date: '%Y.%m.%d' }}</time></small>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="content">
        {{ content }}
        {% if page.mp3url %}
          {% assign mp3url = page.mp3url %}
        {% endif %}
        {% if page.mp3file %}
          {% assign mp3url = "http://agileradio-assets1.s3-website-us-west-1.amazonaws.com/mp3/" | append: page.mp3file %}
        {% endif %}
        {% if mp3url %}
        <div>
          <audio src="{{ mp3url }}" controls></audio>
        </div>
        {% endif %}
      </div>
    </div>
  </section>
</article>
